    </body>
    
    <p class="mb-1">
         <footer style="text-align: center;">Comp 2068 Lab3 by Francis Fuentebella | Reference for CSS <a href="Bootsrap https://getbootstrap.com/">Bootsrap</a> </footer>
    </p>
</html>