
        <div style="margin-top:2%;">
            <a class="btn btn-success" href="../">myPortfolio<span class="sr-only">(current)</span></a>
            <a class="btn btn-dark" href="../about">About</a>
            <a class="btn btn-dark" href="../thing">Contact</a>
        </div>
        
