<%- include ('../partials/header') %>
<div class="container">
    <%- include ('../partials/navbar') %> 
    <header class="page-header">
      
    </header>
    
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <h1 class="display-4">Francis Fuentebella.</h1>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">I am a Computer Programming student at Georgian College and expecting to graduate on August 2020.</h5>
          </div>
          <p class="mb-1 my-5">My Interest are: 
            <span class="badge badge-default">HTML</span>  
            <span class="badge badge-default">CSS</span>  
            <span class="badge badge-default">PHP</span>  
            <span class="badge badge-default">JAVASCRIPT</span>  
            <span class="badge badge-default">ASP</span>  
            <span class="badge badge-default">JAVA</span>  
            <span class="badge badge-default">C#</span>  
            <span class="badge badge-default">SWIFT</span>  
            <span class="badge badge-default">SQL</span>
            <span class="badge badge-default">3D Modeling</span>    
            <span class="badge badge-default">Illustrator</span>
            <span class="badge badge-default">Photoshop</span>  
            <span class="badge badge-default">Many More...</span>  
        </p>
        </a>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <h1 class="display-4">Strength</h1>

          <p class="mb-1">
            <label>Web-Development (Full Stack)</label>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>Software-Development</label>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>Design and Graphics</label>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>3D Modelling(Sketchup and 3Ds Max)</label>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>             
          </p>
        </a>
      </div> 
      <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h1 class="display-4">Web Languages</h1>
        </div>
        <p class="mb-1">
            <label>HTML</label>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>CSS</label>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>PHP</label>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>JAVASCRIPT</label>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>ASP</label>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>      
        </p>
      </a>
    </div>
    
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <h1 class="display-4">Other Languages</h1>

          <p class="mb-1">
            <label>JAVA</label>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>C#</label>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div> 
            <label>C++</label>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>  
            <label>SWIFT</label>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>          
          </p>
        </a>
      </div>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <h1 class="display-4">Graphics, Design and 3D Modelling</h1>

          <p class="mb-1">
            <label>Photoshop</label>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>Illustrator</label>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>Google Sketchup</label>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label>3Ds Max</label>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>  
            <label>Database Management</label>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>             
          </p>
        </a>
        
      </div>     
      <div class="list-group">

          <p class="mb-1">
            <a href="thing" class="btn btn-primary">HIRE ME!</a>            
          </p>
        
      </div>   
      
</div>

<%- include ('../partials/footer') %>