<%- include ('../partials/header') %> 
<div class="container my-5">
    <%- include ('../partials/navbar') %> 

    <div>
        <h1 class="display-4">Welcome to my Portfolio</h1>
        <p>This is the Beggining of my blogs</p>
    </div>
</div>
     
<%- include ('../partials/footer') %>