<%- include ('../partials/header') %> 
<div class="container my-5">
    <header class="home-cta">
        <h1 class="display-4">Welcome to my Portfolio</h1>
    </header>
</div>
     
<%- include ('../partials/footer') %>