<%- include ('../partials/header') %> 
<div class="container">
    <div class="container my-5">
        <header>
            <h1>Register New User</h1>
        </header>
        <hr>
        <div>
            <form action="/users" method="post">
                <div class="form-group">
                    <label for="firstName">First Name: </label>
                    <input type="text" name="firstName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name: </label>
                    <input type="text" name="lastName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="emailConfirmation">Email Confirmation: </label>
                    <input type="email" name="emailConfirmation" class="form-control">
                </div>

                <div class="form-group">
                    <button class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include ('../partials/footer') %> 